body {
    margin: 0;
    color: #EEE;
    background: #111111;
    font: 500 16px/18px 'Roboto', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
}
.icon {
    height: 25px;
    width: 25px;
}
.toolbar {
    position: absolute;
    top: -40px;
    right: 30px;
}
.button {
    width: 60%;
    height: 45px;
    border-radius: 7px;
    background-color: #3A3A3A;
    color: #EEE;
    margin-top: 30%;
    font-size: 15px;
    display: flex;
    margin-left: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button:active {
  /* set time duration to your needs */
  animation: gradient 100ms;
  background: #c471ed;
  color: #fff;
  box-shadow: none;
}

html { height: 100%; }

body { 
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  color: #111111;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-right: 3px; 
  width: 20px;
  background-color: #111111;
  outline: none;
  display: inline-block;
  width:250px;
  border:1px solid #111111;
  border-radius: 0 0 5px 5px;
}

#mic-icon {
  display:inline-block; 
  position: absolute; 
  pointer-events: none;
}

option { 
  /* Whatever color  you want */
  background-color: rgb(175, 175, 175);
}

h1 { font-size: 40px }

.linear-wipe {
  text-align: center;
  margin-top: 10%;
  background: linear-gradient(to right, #12c2e9 20%, #c471ed 40%, #f64f59 60%, #FFF 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
